@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
body{
    font-family: 'Mulish', sans-serif;
    position: relative;
    padding: 0;
    margin: 0;
}
input , button {
    font-family: 'Mulish', sans-serif;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: auto;
}
.heading-center{
    text-align: center;
    justify-content: center;
}
.body-layout ,.main-section {
    padding-top: 110px;
}
.green-signal{
    background-color: #8EC038;
}
.green-signal p{
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 5px 0;
    line-height: 1;
    color: #fff;
}
.red-signal {
    background-color: #da2424;
}
.red-signal p {
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 5px 0;
    line-height: 1;
    color: #fff;
}
.section-main-wrapper{
    padding: 50px 0;
}

/***----- header css -----***/
.headerlayout{
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #00000020;
    z-index: 999;
}
.headerWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.logowrap img{
    width: 150px;
}
.menuLinks ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.menuLinks ul li{
    padding: 0 15px;
}
.menuLinks ul li a{
    font-weight: 700;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 18px;
    color: #171422;
    text-decoration: none;
}
.menuLinks ul li a:hover{
    color:#8ec038;
    transition: all 0.8s ease;
}
.cart-icon{
    width: 30px;
}

/***----- body css -----***/

.card-listing{
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 50px;
}
.section-heading h2{
    color: #171422;
    font-size: 32px;
    text-transform: capitalize;
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.card-grid{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    gap: 35px;
    margin-top: 30px;
    justify-content: center;
}
.single-card {
    box-shadow:0 20px 20px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
    border-radius: 10px;
    transition: all 0.6s ease-in-out;
    min-height: 350px;
}
.single-card:hover{
    transform: scale(1.02);
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}
.single-card img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.single-card .card-body{
    padding: 10px 15px;
}
.single-card .card-title{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 700;
}
.single-card .cusine-name{
    margin: 5px 0;
    font-size: 15px;
    min-height: 60px;
}
.card-inner-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-inner-details p{
    margin: 10px 0;
    font-size: 14px;
}
.green-rating{
    background-color: #8ec038;
    padding: 2px 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #fff;
}
.red-rating{
    background-color: #da2424;
    padding: 2px 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #fff;
}
.price{
    padding: 2px 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    text-transform: uppercase;
}
.time{
    text-transform: uppercase;
}
.about-section{
    padding: 40px 0;
}
.about-section .container{
    display: flex;
    align-items: center;
}
.about-section .col-2{
    display: flex;
    align-items: center;
}
.about-section .col-2 img{
    width: 100%;
}
.about-section .container .cols{
    width: 50%;
}
.about-details{
    width: 90%;
}
.check{
    list-style: none;
    padding-left: 1em;
}
.check li{
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.check li svg{
    margin-right: 5px;
}
.about-details p{
    line-height: 1.6;
}
.red-btn{
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    text-transform: capitalize;
    color: #fff;
    background-color: #da2424;
    transition: all 0.6s ease;
    border-radius: 4px;
    padding: 8px 15px;
    text-align: center;
    line-height: 1;
    border:2px solid #da2424;
}
.red-btn:hover{
    transition: all 0.6s ease;
}
.green-btn {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    text-transform: capitalize;
    color: #fff;
    background-color: #8ec038;
    transition: all 0.6s ease;
    border-radius: 4px;
    padding: 8px 15px;
    text-align: center;
    line-height: 1;
    border: 2px solid #8ec038;
}
.green-btn:hover {
    transition: all 0.6s ease;
}
.filter-single-btn {
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    text-transform: capitalize;
    color: #fff;
    background-color: #48604c;
    transition: all 0.6s ease;
    border-radius: 4px;
    padding: 6px 10px;
    text-align: center;
    line-height: 1.2;
    border: 2px solid #48604c;
}
.filter-single-btn:hover {
    transition: all 0.6s ease;
    transform: scale(1.02);
}
.about-divider img{
    width: 100%;
}
.filter-section{
    padding: 15px;
    background-color: #f3f5ed;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.filter-wrap{
    display: flex;
    align-items: center;
    gap:15px;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.fiter-btns{
    display: flex;
    align-items: center;
    gap: 15px;
}
.search-input{
    margin-right: 10px;
    padding: 5px 8px;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.loading-cards-grid{
    grid-template-columns: 31% 31% 31%;
    justify-content: center;
    gap: 35px;
    margin-top: 30px;
    display: grid;
}
.loading-cards .single-card{
    min-height: 350px;
}
.msg-wrap p{
    text-align: center;
    font-size: 20px;
    margin: 40px 0;
    text-transform: capitalize;
}
.about-page-section{
    text-align: center;
    padding: 40px 0;
}
.about-page-section h2{
    justify-content: center;
}

/***----- error page css -----***/
.error-wrap{
    text-align: center;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.green-text{
    color: #8ec038;
    font-size: 35px;
    font-weight: 700;
    margin: 10px 0;
}
.card-grid a{
    position: relative;
    display: block;
    text-decoration: none;
    color: #171422;
    cursor: pointer;
    
}
.menu-list-ul{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.menu-list-wrap{
    display: grid;
    grid-template-columns: 15% 82%;
    gap: 15px;
    margin-bottom: 20px;
}
.menu-list-wrap .img-wrapper{
    border-radius: 4px;
    border: 1px solid #8ec03850;
    padding: 5px;
}
.menu-list-wrap img{
    width: 100%;
}
.m2-col h4 , .m2-col p{
    margin-top: 0;
    margin-bottom: 5px;
}

/***----- footer css -----***/
.footer{
    background-color: #292D35;
    position: relative;
    padding: 60px 0;
    background-image: url('./src/assets/images/footer-bg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -2px;
}
.footer-divider{
    position: relative;
    height: 100px;
}
.footer-logo img{
    width: 150px;
}

/**-- green waves --**/
.custom-shape-divider-bottom-1682958298 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1682958298 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1682958298 .shape-fill {
    fill: #8EC038;
}

/**-- black waves --**/
.custom-shape-divider-bottom-1682957892 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1682957892 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
}

.custom-shape-divider-bottom-1682957892 .shape-fill {
    fill: #292D35;
}

.footer .container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap:50px
}

.footer p {
    color: #fff;
    line-height: 1.5;
}

.footer  a{
    color: #fff;
    text-decoration: none;
}

.footer a:hover{
    color:#8ec038;
    transition: all 0.8s ease;
}

.footer-title{
    margin-top: 0;
    color: #8ec038;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
}

.footer-subtitle{
    margin-top: 0;
    margin-bottom: 15px;
    color: #8ec038;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.footer-widget{
    margin-bottom: 40px;
}

.footer-subtitle svg{
    margin-right: 10px;
}

.footer-list{
    list-style: none;
    padding: 0;
}
.footer-list li{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.footer-list a{
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.footer-list a:hover{
    color:#8ec038;
    transition: all 0.8s ease;
}
.footer-bottom{
    background-color: rgba(0,0,0,.25);
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.footer-bottom p{
    padding: 10px 0;
}

/**-- restaurant detail page --**/
.menu-page-section{
    padding: 40px 0;
}
.menu-main-details{
    gap: 20px;
    display: grid;
    grid-template-columns: 20% 70%;
}
.mcol1 img{
    width: 100%;
    border-radius: 4px;
}
.mcol2 h2{
    margin-top: 0;
    margin-bottom: 10px;
}
.mcol2 p{
    margin-top: 0;
    margin-bottom: 10px;
}
.add-to-cart{
    cursor: pointer;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    background-color: #48604c;
    border: 2px solid #48604c;
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 1.2;
    transition: all .6s;
    display: inline-block;
    margin: 10px 0;
}